<nav>
    <div class="nav-bar">
        <h1>Blogs Gallery</h1>
        <p>Bunch of curated blogs</p>
        <div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/create">Add blog</a></li>
            </ul>
</nav>